@import "lib/bootstrap/bootstrap.min.css";

@font-face {
    font-family: monospace;
    src: url(FuturicaMedium.ttf);
}

html, body {
    padding: 0px;
    margin: 0;
    font-family: Monospace, 'FuturicaMedium';

}

h2, h3, h4 {
  text-align: center;
  font-weight: bold;
}
a {

}
a:hover {
  color: white;
  text-decoration: none;
}
.bs-panel, 
.bs-game-screen__panel,
.bs-body__panel {
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 340px;
  height: 460px;
  vertical-align: middle;

  border: 1px solid trasparent;
  border-color: #65e2eb;
  background-color: #e1eff0;
  box-shadow: 0 8px 8px rgba(0,0,0,0.05);
}

.panel_wide {
  width: 800px;
}


.menu,
.menu_for-back,
.form-login,
.form-signup, 
.scoreboard,
.finish,
.newgame {
  width: 338px;
  height: 380px;
  margin: auto;
  padding: auto;

  text-align: center;
}

.scoreboard {
  height: 400px;
}

.menu_for-back {
  height: 60px;
}

.form-login__heading, 
.form-signup__heading, 
.menu__heading, 
.newgame__heading, 
.joingame__heading {
  margin-bottom: 10px;

  text-align: center;
}

 .form-login__control, 
 .form-signup__control {
  position: relative;
  height: auto;
  margin: 10px 20% 20px 16%;
  padding: 10px;
  font-size: 16px;
  display: block;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:  inset 0 1px 1px rgba(0s,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.form-login__control:focus, 
.form-signup__control:focus {
  z-index: 2;
  border-color:  #630875;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(99, 8, 117, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(99, 8, 117, 1);


}
.form-login input[type="email"],
.form-login input[type="login"], 
.form-signup input[type="login"], 
.form-signup input[type="email"]  {
  margin-left: auto;
  margin-right: auto;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"], 
.form-signup input[type="password"] {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login__validate-messages, 
.form-signup__validate-messages, 
.form-login__validate-messages_hide, 
.form-signup__validate-messages_hide {
  text-align: center;
  color: red;
  margin: 10px;
  height: 70px;
}

.form-login__validate-messages_hide, 
.form-signup__validate-messages_hide {
  visibility: hidden;
}

.menu__login-status_authorized, 
.menu__login-status_guest {
  height: 60px;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}


.scoreboard__table {
  height: 385px;
}

th {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  }

.table__counter {
  width: 30px;
}

.table__name {
  text-align: left;
}

.table__header>th {
  font-weight: bold;
}

.form-login__btn, 
.form-signup__btn, 
.menu__btn,
.menu__btn_start,
.menu__btn_short, 
.game-screen__btn, 
.newgame__btn,
.joingame__btn  {
  display: block;
  width: 240px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;

  border-radius: 5px;
  color: #ffffff;
  background-color: #630875;
  border: 0;

  text-align: center;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(68, 4, 196, 1);
  font-family: Monospace, 'FuturicaMedium';
}

.menu__btn_short {
  margin-top: auto;
  width: 40%;
}

.menu__btn_start {
  padding-top: 0;
}
.bs-menu__btn_dropdown {
  margin-left: auto;
  margin-right: auto;
}

.bs-menu__dropdown-menu {
  margin-left: auto;
  margin-right: auto;
  width: inherit;

  text-align: center;
  font-size: inherit; 
}
.game-screen__btn {
  display: inline-block;
  width: 35%;
}
.form-login__btn:focus, 
.form-signup__btn:focus {
  outline: none; 
}

.form-login__btn:hover,
.form-signup__btn:hover,
.menu__btn:hover, 
.menu__btn_short:hover, 
.newgame__btn:hover,
.joingame__btn_small-join:hover,
.game-screen__btn:hover {
  background-color: #8a4299;
}

.newgame__selector, .joingame__selector {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.selector__multiple-choiser {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

option {
  font-size: 18px;
  background-color: #630875;
  color: white;
}

option:hover {
  font-size: 18px;
  background-color: #8a4299;
}
.selector__drop-down-choiser {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 18px;
}

.joingame__btn_small-join {
  width: 85%;
  height: 50%;
  max-height: 35px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;

  font-size: 18px;
}

.joingame__table {
  height: 270px;
  width: 98%;
  margin: 1%;
}

/*GAME SCREEN**************************/
.game-screen {
  max-width: 1366px;
  min-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bs-game-screen__panel_header,
.bs-game-screen__panel_body {
  height: 60px;
  width: 96%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  box-shadow: 
}

.header__player, .header__foe {
  display: inline-block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: bold;
  font-size: 24px;
}

.header__wall {
  display: inline-block;
  visibility: hidden;
  width: 10%;
  height: 24px;
  padding: 1px;

  background-color: gray;
  box-shadow: 0 8px 8px rgba(0,0,0,0.05);
}

.player__nickname, 
.foe__nickname, .player__current-score, 
.foe__current-score {
  display: inline-block;
  width: 50%;
}

.player__current-score, .foe__nickname {
  text-align: right;
}

.bs-game-screen__panel_body {
  height: 400px;
  box-shadow: 0 0 15px 3px #65e2eb;
}
.bs-body__panel_main-area {
  height: 300px;
  width: 100%;
  margin: 0;
  padding-bottom: 0;

  background-color: white;
}

.main-area__question,
.main-area__answer  {
  width: 46.5%;
  height: 90%;
  margin: 1%;

  font-size: 20px;
}

.main-area__wall {
  display: inline-block;
  visibility: hidden;
  width: 3%;
  height: 100%;

  margin: 0;
  padding: 1px;

  background-color: gray;
  box-shadow: 0 8px 8px rgba(0,0,0,0.05);
}

.question__title {
  width: 100%;

  text-align: center;
}

.question__title {
  display: inline-block;
  margin: 10px;

  text-align: center;
}
.question__text {
  display: inline-block;
  padding: 10px;

  text-align: left;
}

.answer__area {
  height: 80%;
}

.answer__variants {
  width: 17px !important;
  height: 17px !important;

  padding-right: 150px !important;
  margin: 8px !important;
}

.game-screen__btn#next,
.game-screen__btn#finish {
  float: right;
}
.body__progress-bars {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 1%;
  padding-top: 1.5%;
}

.progress__title {
  text-align: right;
  font-size: 16px;
}

.bar {
  display: block;
  float: left;
  width: 0;

  height: 100%;
  
  color: #ffffff;
  border-right: 1px;
  border-color: black;
  box-shadow:  inset 0 -1px 0 rgba(0,0,0,0.15);
  box-sizing: border-box;
  transition: width 0.6 sec ease;
}

.bar_success {
  background-color: #5eb95e;
  background-image: linear-gradient(to bottom,#62c462,#57a957);
  background-repeat: repeat-x;
}

.bar_half-success {
  background-color: #faa732;
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
}

.bar_wrong {
  background-color: #dd514c;
  background-image: linear-gradient(to bottom,#ee5f5b,#c43c35);
  background-repeat: repeat-x;
}

/*FINISH***********/

.finish__body {
  height: 250px;
  width: 94%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  margin-top: 2%;
}

.finish__table {
  height: 200px;
}

.win {
  color: green;
}

.lose {
  color: red;
}
