@import "http://127.0.0.1:8080/css/lib/bootstrap/bootstrap.min.css";

@font-face {
    font-family: monospace;
    src: url(FuturicaMedium.ttf);
}

body {
    background-image: url("http://127.0.0.1:8080/static/snakes.jpg") ;
}

@import "main/main";
@import "main/btn";
@import "main/input-field";
@import "game/main-game";
@import "scoreboard/scoreboard";